In [1]:
#attemp to create a dynamics

In [2]:
#First will create the dataframe for the periodic table,
#for the atomic masses

In [3]:
import pandas as pd

In [4]:
#the units will be amus

from: https://en.wikipedia.org/wiki/Unified_atomic_mass_unit <br>
1 unified atomic mass unit (symbol: u) or dalton (symbol: Da)
$$1\,Da\,=1.6605402\times10^{-27}\,Kg$$

In [1]:
#the dataframe will have for index the atomic number

In [2]:
#and the columns will be atomic symbol, atomic name, atomic mass
#for the moment

In [3]:
#How to generate a dataframe with those characteristics??

In [4]:
import pandas as pd
import numpy as np

index = np.arange(1,100)
#dt=pd.DataFrame()

In [5]:
index

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [1]:
import pandas as pd
dt = pd.DataFrame(columns=['Atomic Name', 'Atomic Symbol', 'Atomic Number', 'Atomic Mass'])

In [2]:
dt

Empty DataFrame
Columns: [Atomic Name, Atomic Symbol, Atomic Number, Atomic Mass]
Index: []

In [5]:
dt.append([1, 2, 3, 4])

/home/ruben/anaconda3/envs/tensorflow35/lib/python3.5/site-packages/pandas/indexes/api.py:71: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)

  Atomic Name Atomic Symbol Atomic Number Atomic Mass    0
0         NaN           NaN           NaN         NaN  1.0
1         NaN           NaN           NaN         NaN  2.0
2         NaN           NaN           NaN         NaN  3.0
3         NaN           NaN           NaN         NaN  4.0